body, .wrapper{
  background-color: #000;
  width: 100%;
  height: 100%;
  color: white;
  line-height:1.15;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
  font-weight:lighter;
  background-image: url("../images/secback.jpg");


}
header{
width: 100%;
height: 100px;
position: fixed;
left: 0;
top: 0;
z-index: 9999 !important;

}
.logo{
  margin-top:-61px;
}

nav{
  text-align: center;
  background-color:#000;
  border: solid 2px white;
  height: 60px;
  margin: 0px;
  color: WHITE;

}

nav li{
  display: inline-block;
  text-decoration: none;
  padding-left:30px;
}

nav li a { text-decoration: none;
   display: inline-block;
   color: white;
   font-size: 16px;

}

.home_containerimg{
  float: left;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  background-color: lightgray;
  border-radius: 5%;
}

ul {
  margin: auto ;
  padding: 0;
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
}
li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 60%;
  left: 37%;
}
/* visited link */
a:visited {
  color: darkblue;
}
/* selected link */
a:active {
  color: red;
}
/* how the menu display on small screen */
label{
  margin:0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
}

#toggle{
  display:none;
}

@media screen and (max-width: 950px) {
.dropbtn{
  color: black;
}
.bannrimg{
  width: 200% !important;
}
.Ads_text1{
    width: 80% !important;
}
.Ads_text{
    width: 80% !important;
}
.ad_test{
  width: 80% !important;
}

.logo{
  position: absolute;
  margin-left: 8px;
  margin-top:-61px;
}
..intro_H1{
  text-align: center !important;
}

label{
  display: block;
  cursor: pointer;
  margin-left: 50%;
}
nav li{
  display: block;
}
.menu{
 width: 100%;
  display: none;
  clear: left;
  height: auto;
  background: white;
  color: red;
}

.menu a{
  display: block;
  border-radius:5px;
  color: black;
   padding: 12px;
}

#toggle{display: none;}

.toggle{
	color:white;
  float:left;
}

#toggle:checked + .menu {
   display:block;
}
.Ads_text,.Ads_text1{
  display: inline-block;
  width: 100%;
}
.iconscontainer{
  padding: 60px !important;
}
.iconscontainer .icon:hover .hovertext {
  margin-top: -10px;

  opacity: 0.9;
}
.iconscontainer .icon:hover .hovertext1 {
  margin-top: -7px;
  opacity: 0.9;
}
.iconscontainer .icon:hover .hovertext2 {
  top: 90%;
  opacity: 0.9;
}


}


/* Blue button */
.button1 {background-color: #008CBA;
  position: absolute;
  margin-top: -160px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  }



.button:hover {
        border:2px solid white;

            }
.banner{
  margin-left: -30px;
}

.Trending_container{
  display: inline-block;
}
.intro_H1{
text-align: center;
  margin-top: 6%;
}
.intro_text{
text-align: center;

}
.movie_figure{

}
.Movie{
float: left;
}

.Movie img:hover {
transform: scale(1.009);
}

.Ads_text,.Ads_text1{
  width: 40%;
  text-align: center;
  font-weight: lighter;
  font-size: 26px;
}

img {
  border-radius: 5px;
}
.ads_container,.ads_container1{
  float: left;
}
.Ad2,.Ads_text1{
  float: left;
}


.Ad1,.Ads_text{
  float: left;
}









.UpcomingMovie{
  float: left;
  margin-left: 10px;
}
.Upmovie_figure{
margin-left: 10px;

}

.ad_test{
  width: 20%;
}
.ad_aside_img, .ad_test{
  float: left;
}





.iconscontainer {
   float: left;
	 margin: 1% 9% 5%  12% ;
   padding: 10px;
	 display: flex;
	 align-items: center;
	 height: 100%;
   display: inline-block;
    justify-content: space-between;
}
 .iconscontainer .icon {
	 position: relative;
	 display: flex;
	 width: 150px;
	 height: 150px;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 cursor: pointer;
	 border-radius: 50%;
	 background-color: #fff;
}
 .iconscontainer .icon .hovertext {
	 display: block;
	 position: absolute;
	 top: 40%;
	 margin-top: 10px;
	 padding: 0.55rem 1rem;
	 font-size: 1rem;
	 font-weight: 500;
	 white-space: nowrap;
	 color: #000;
	 border-radius: 50px;
	 background-color: #fff;
	 box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
	 pointer-events: none;
	 -webkit-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
	 opacity: 0;
	 transition: all 0.2s ease-in-out;
}
 .iconscontainer .icon .hovertext1 {
	 display: block;
	 position: absolute;
	 top: 50%;
	 margin-top: 10px;
	 padding: 0.55rem 1rem;
	 font-size: 1rem;
	 font-weight: 500;
	 white-space: nowrap;
	 color: #000;
	 border-radius: 50px;
	 background-color: #fff;
	 box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
	 pointer-events: none;
	 -webkit-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
	 opacity: 0;
	 transition: all 0.2s ease-in-out;
}
 .iconscontainer .icon .hovertext2 {
	 display: inline-block;
	 position: absolute;
	 top: 60%;
	 margin-top: 10px;
	 padding: 0.55rem 1rem;
	 font-size: 1rem;
	 font-weight: 500;
	 white-space: nowrap;
	 color: #000;
	 border-radius: 50px;
	 background-color: #fff;
	 box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
	 pointer-events: none;
	 -webkit-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
	 opacity: 0;
	 transition: all 0.2s ease-in-out;
}
 .iconscontainer .icon:hover .hovertext {
	 top: 60%;
	 opacity: 0.9;
}
 .iconscontainer .icon:hover .hovertext1 {
	 top: 90%;
	 opacity: 0.9;
}
 .iconscontainer .icon:hover .hovertext2 {
	 top: 120%;
	 opacity: 0.9;
}






.MovieName,.MovieGenre,.MovieDuration{
  text-align: center;
  padding: 0;
}


.MovieName{
    font-size: 16px;
}
.MovieGenre{
    font-size: 16px;
}
.MovieDuration{
    font-size: 12px;
}



/*Contact us PAGE*/

h1 span {
  position: relative;
  color: black;
}
h1 span:after {
  position: absolute;
  content: '';
  width: 40%;
  height: 1px;
  border-bottom: 2px solid black;
  bottom: -2px;
  left: 50%;
  margin-left: -13%;
}
.contacttext{
    margin-top: 100px;
    text-align: center;
    font-weight: lighter;
    font-size: 16px;
}
;
.maincontact{
  margin-left: 5%;

}

.contact_container{
  width: 550px;
  height: 190px;
  background-color: #F5F5F5;
  color: black;
  border-radius: 4px;
  margin-left: 20px

}
.visite{
  text-align: center;
  font-weight: lighter;
  color: white;
}
.contact_container h1{
  font-weight: lighter;
  text-align: center;
  padding-top: 30px;
}
.contact_container h2{
font-weight: lighter;
font-size: 16px;
text-align: center;
}
.contact_container p{
  font-weight: bold;
  text-align: center;
}
.callus{
  float: left;
  padding: 10px 0 0 40px;

}

h3 span {
  position: relative;
  color: white;
}
h3 span:after {
  position: absolute;
  content: '';
  width: 35%;
  height: 1px;
  border-bottom: 2px solid white;
  bottom: -2px;
  left: 50%;
  margin-left: -20%;
}
.fig_container{
float: right;
margin-left: 35px;
}

.maincontact,.fig_container{
  float: left;
}



/*FEESBACK PAGE*/
.fbinputs{
  width: 90%;
  padding: 10px;
}
.feedbackcontainer{
  margin-top: 100px;
}

.formcontainer{
	max-width:400px;
	background:rgb(0,0,1);
	padding:30px;
  border-radius:20px;
  margin-left: 10%;
}
.formcontainer,.fbinputs,textarea{
	margin:10px 0 px;
	background:#fff;
	border:0;
	border-bottom:3.5px solid #000;
	padding:10px;
  border-radius:10px;
}
textarea{
height:100px;
width: 90%;
}
.submit{
	background:#   ;
	cursor:pointer;
	border-radius:10px;

}

.submit{
  background-color: #008CBA;

    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.formcontainer,.feedbackimg{
  float: left;
}

footer{
  border-radius: 4px;
  background-color: gray;
  display: inline-block;
  float: left;
}
.aboutcom{
  width: 40%;
  margin: 60PX 0 0 220PX;
  border-right: 1PX solid ;

}

.quick_links{
  padding: 20PX;
  margin: 40PX 0 0 100PX;
    border-right: 1PX solid ;
    color: white;

}

.Categories{
  padding: 20PX;
  margin: 40PX 0 0 40PX;
    border-right: 1PX solid ;
}

.aboutcom,.quick_links,.Categories{
  float: left;
}
h3 a{
  text-decoration: none;
  font-size: medium;
  font-weight:lighter;
  color: white;

}
